---
import Layout from "../layouts/Layout.astro";
import VotesCounter from "../components/VotesCounter";
import updateColumn from "../database/updateColumn";
import VoteButton from "../components/VoteButton";
import AboutMe from "../components/AboutMe";
import VotesContraCounter from "../components/VotesContraCounter";
---

<Layout title="Votá - Ley Bases">
  <main>
    <h1>
      Ley de bases y puntos de partida para la<span class="text-gradient">
        libertad de los argentinos
      </span>
    </h1>
    <p class="justify-center text-center pb-10">
      En un momento significativo para Argentina, el país se encuentra en una
      etapa importante con la presentación de una nueva ley ómnibus propuesta
      por el Presidente Javier Milei.
    </p>
    <p class="justify-center text-center pb-10">
      Este proyecto busca implementar cambios en áreas como la economía, la
      educación y el sistema electoral. El objetivo declarado es introducir
      reformas en el marco de las políticas actuales para impactar en la
      dirección futura del país.
    </p>
    <p class="justify-center text-center pb-10">
      La propuesta tiene como fin la reestructuración del orden económico y
      social, inspirándose en corrientes de pensamiento históricas del país y
      enfocándose en aspectos como la vida, libertad y propiedad.
    </p>
    <p class="justify-center text-center pb-10">
      Se invita a la ciudadanía a participar y expresar su opinión en esta
      votación, destacando la importancia de la participación ciudadana en los
      procesos democráticos.
    </p>
    <h1 class="pt-10">
      ¿Cuál es tu opinión sobre la nueva <span class="text-gradient">
        ley propuesta?
      </span>
    </h1>
    <div class="justify-center align-middle text-center">
      <VoteButton client:only />
      <VotesCounter client:load />
      <VotesContraCounter client:load />
    </div>
    <AboutMe />
  </main>
</Layout>

<style>
  body {
    background-color: black;
  }
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
